header {
    height: 10%;
}

main {
    height: 100%;
    width: 100%;
    overflow: auto;
}

/* menu {
    height: 100%;
    width: 15%;
    border-right: 1px solid black;
    padding: 0;
} */

.Layout {
    height: 100%;
}

.content {
    height: 100%;
    display: flex;
    border-top: 1px solid black;
}

